body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: small;
}

.nav-bar{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-left: 290px;
    padding-top:6px;
}


.menu{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
}

ul li{
    float: left;
    border-left: 1px #666666 solid;
    align-items: center;
}

.signin{
    height: 16px;
}

.signin-item{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-right: 95px;
}

ul li a{
    color: white;
}
.logo{
    border: none;
}

.logo-item{
    padding-right: 16px;
}
.menu-item{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.more{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.more-item{
    padding-left: 30px;
}

.first-row{
    width: 1600px;
    margin: 0 auto;
    height: 30px;
    display: inline-block;
}
.first-row-h{
    width: 50%;
    float: left;
}

.first-row-p{
    width: 50%;
    float: right;
    color: #666666;
}
.search{
    padding: 5px;
}

.top-section{
    width: 1600px;
}